@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
body{
	background-color:#1A1A1A;
}

/*.logo{
	width: 150px;
}*/

.menu-nav{
	position: relative;
}
.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}
.menu-nav ul li.btn a{
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	text-decoration: none;
	padding: 50px;
	font-size: 30px;
}

.menu-nav ul li.btn a:hover{	
	color: #D81C1C;
	text-decoration: none;
	padding: 50px;
	transition: 0.5s;

}

.logo{
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*#search{
		margin-top: 10px;
		width: 1000px;
		height: 50px;
		display: inline-block;
		-moz-border-radius: 15px;
    	-webkit-border-radius: 15px;
		border-radius: 30px;
		border: 0px solid #232121;
		background-color: #232121;
		font-size: 25px;
		color: white;
} 	
*/
#search{
		margin-top: 10px;
		width: 1000px;
		height: 50px;
		display: inline-block;
		-moz-border-radius: 15px;
    	-webkit-border-radius: 15px;
		border-radius: 30px;
		border: 0px solid #232121;
		background-color: #232121;
		font-size: 25px;
		color: white;
	
}
input {
	padding-left: 20px;
}
#content{
	margin-top: 50px;
	text-align:center;

}

.série{ 
	padding-left: 5.5px;
	padding-right: 5.5px;
}	
.série img{
	padding: 7.5px;
	background-color: #414649;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	border-radius: 30px;


}

.série img:hover{
	background-color:#DAD9D3;
	transition: 0.5s;

}

footer{
	background-color:#1A1A1A;
	color: #DADADA;
}







/*div.content ul li.série{
	display: inline-block;
	padding: 15px;
	background: #414649;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	border-radius: 30px;

}
div.content ul li.série:hover{
	display: inline-block;
    padding: 15px;
	background: #DAD9D3;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	border-radius: 30px;
	transition: 0.5s
}
div.content ul li.série a img{
	-moz-border-radius: 20px;
 	-webkit-border-radius: 20px;
	border-radius: 20px;
}/

/* { box-sizing:border-box;}
body{ margin: 0; padding: 0;}
.content>*{
	padding: 5px;
	font-size: 24px;
	font-family: monospace;
	color: #1d1d1d;
	text-align: center;
}
 .content>*:nth-child(even) {
 	background-color: #bada55;
 	border: 5px solid #caea00;
 }
 .content>*:nth-child(odd){
 	background-color: #fafafa;
 	border: 5px solid: #eaeaea;

 }

 .grid{
 	display: grid;
 	grid-template-columns: 33.33% , 33.33% , 33.33%;
 }/
